body {
    padding: 20px;
}

main {
    padding: 10px;
}

span {
    color: red;
    display: block;
}

button {
    border-radius: 10px;
    padding: 10px;
    margin: 0 10px;

    font-size: 1rem;
    background-color: #f1f1f1;
    border: none;
    box-shadow: 0px 0px 5px #c1c1c1;

}