main {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

section {
    margin: 30px;
    padding: 10px;
    background-color: lightskyblue;

    min-width: 300px;
    border-radius: 20px;
}

img {
    width: 200px;
}